@import '../../styles/variables.scss';

.timeline {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
  max-width: 1200px;
  margin: 0 auto;
  
  @include responsive($breakpoint-tablet) {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  
  &__heading {
    h2 {
      font-size: 2.5rem;
      font-weight: 700;
      color: $text-primary;
      margin-bottom: 1.5rem;
      line-height: 1.2;
      
      @include responsive($breakpoint-mobile) {
        font-size: 2rem;
      }
    }
    
    p {
      font-size: 1rem;
      line-height: 1.6;
      color: $text-secondary;
    }
  }
  
  &__events {
    display: flex;
    flex-direction: column;
  }
  
  &__item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2rem;
    position: relative;
    
    &:not(:last-child) {
      padding-bottom: 2.5rem;
    }
  }
  
  &__line {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  &__badge {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    @include flex-center;
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
    flex-shrink: 0;
    z-index: 2;
    
    &.blue {
      background: $google-blue;
    }
    
    &.green {
      background: $google-green;
    }
    
    &.yellow {
      background: $google-yellow;
    }
    
    &.red {
      background: $google-red;
    }
  }
  
  &__connector {
    width: 2px;
    flex: 1;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.1) 50%,
      transparent 100%
    );
    margin-top: 0.5rem;
    min-height: 60px;
  }
  
  &__content {
    padding-top: 0.5rem;
    
    h3 {
      font-size: 1.25rem;
      font-weight: 700;
      color: $text-primary;
      margin-bottom: 0.5rem;
      
      @include responsive($breakpoint-mobile) {
        font-size: 1.125rem;
      }
    }
  }
  
  &__time {
    font-size: 0.875rem;
    color: $text-secondary;
    margin-bottom: 0.75rem;
  }
  
  &__description {
    font-size: 1rem;
    line-height: 1.6;
    color: $text-secondary;
    margin: 0;
  }
}
